<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/frnt.css">
</head>

<body>

    <section id="header">
        <a href="#"><img src="/img/img1.jpg"  class="logo" alt="no"><div style="padding-left:0.5em">DCS</div></a>
        
        <div>
            <ul id="navbar">
                <li><a href="/" id = "he1">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li id = "signup"><a href="/signup" id = "asp">SIGN UP</a></li>
                <li><a href="index.html">&nbsp; &nbsp; &nbsp;</a></li>

            </ul>
        </div>
    </section>