<%-include("partials/header")-%>

<br>
<h1 style = "text-align: center; color: rgb(255, 0, 0); font-size: 100px;">
    OUR DOCTORS!!
</h1>
<div class="dr">
<div id="dr1">
    <h2>NAME : Dr. zed</h2>
    <br>
    Qualification : MBBS, MD<br>
    Work-experiance : 5years<br>
    Contact : +91 X
</div>
<br>
<div id = "dr2">
    <h2>NAME : Dr. yep</h2>
    <br>
    Qualification : <br>
    Work-experiance : 5years<br>
    Contact : +91 X
</div>
</div>
<div style="font-size: 5vh;">
    Call any doctor they will definetly help you!
</div>

<%-include("partials/logout")-%>
<%-include("partials/footer")-%>