<%-include("partials/header")-%>

<br><br>
<h1 id = "hhh1" style="font-size: 15vh;"><B>DCS WELCOMES YOU!!</B></h1>

<div class="flex">
        <div class="one">
            
            <div id = "d1">
                <a href="/skin">
            SKIN SPECIALIST<br>(DERRMATOLOGIST)</a>
            </div>
        
            <div id = "d2"> <a href="/dentist">
                DENTIST<br>  (Teeth related)</a></div>
        </div><br><br>
        <div class="two">
            <div id = "d3">
                <a href="/stomach">
                    GASTROENTEROLOGIST<br>  (Stomach related)
                </a>
            </div>
            <div id = "d4">
                <a href="/heart">
                    CARDIOLOGIST<br>  (Heart related)</a>
            </div>
        </div>
    </div>

    <%-include("partials/logout")-%>
   
<%-include("partials/footer")-%>